@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Karla", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navigation {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0rem;
  background-color: #fff;
  color: black;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}

.navigation a {
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #121212;
}
.nav-menu {
  margin-left: auto;
}
.nav-menu ul {
  display: flex;
  padding: 0;
}

.nav-menu li {
  list-style-type: none;
  margin: 0 1rem;
}

.nav-menu li a {
  text-decoration: none;
  color: #121212;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  display: block;
  width: 100%;
}
.navigation input {
  float: right;
  padding: 0.5rem 0rem;
  border: none;
  margin-right: 25px;
  width: 25%;
}
@media screen and (max-width: 768px) {
  .nav-menu ul {
    position: absolute;
    top: 60px;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 77px);
    background-color: white;
    border-top: 1px solid black;
  }
  .nav-menu li {
    text-align: center;
    margin: 0;
  }
  .nav-menu li a {
    color: black;
    width: 100%;
    padding: 1.5rem 0;
  }
  .nav-menu li:hover {
    background-color: #eee;
  }
  .navigation input {
    border: 1px solid #ccc;
    width: 65%;

  }
}

.discover-bar{
  background-color: #fff;
  height: 45px;
  box-shadow: 0px 1px 3px 0px rgb(0 0 0 / 35%);
}
.mainheader_discover{
display: flex;
flex-direction: row;
justify-content: space-around;
margin: 0 auto;}

.item-container {
  display: flex;
  flex-direction: column;
  padding: 2px;
  border: 1px solid black;
}
.item-label {
  font-weight: 600;
  margin-right: 8px;
}


.category-list {
  padding: 5px;
}
.activity-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}